html {
	background: #000;
	color: #fff;
}

html,
.textfield,
.button {
	font: 100%/1.6 sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font: 700 100%/1.6 sans-serif;
}

h1 {
	margin: 0.67em 0 0;
	font-size: 2em;
}

h2 {
	margin: 0.83em 0 0;
	font-size: 1.5em;
}

h3 {
	margin: 1em 0 0;
	font-size: 1.17em;
}

h4 {
	margin: 1.33em 0 0;
}

h5 {
	margin: 1.67em 0 0;
	font-size: 0.83em;
}

h6 {
	margin: 2.33em 0 0;
	font-size: 0.67em;
}

p {
	margin: 1em 0 0;
}

a:link,
a:visited {
	border-bottom: 0.0625em dotted #ccc;
	color: #25f;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	border-color: #25f;
}

a:visited {
	color: #609;
}

a:visited:hover {
	border-color: #609;
}

a:active,
a:active:hover {
	color: #e00;
	border-color: #e00;
}

.hidden {
	position: absolute;
	top: -999em;
}

.label {
	display: block;
	font-style: italic;
}

.textfield {
	display: block;
	max-width: 100%;
	padding: 0.5em;
	border: 0.0625em solid #ccc;
	border-radius: 0.1875em;
	background: #f9f9f9;
	font-size:1em;
	box-sizing: border-box;
}

.button {
	padding: 0.714286em;
	border: none;
	border-radius: 0.1875em;
	background: #e40;
	background-image: linear-gradient(0deg, #e40, #f80);
	color: #fff;
	font-weight: 700;
	font-size: 0.875em;
	line-height: 1em;
	cursor: pointer;
}

.button:active,
.button:hover {
	background-image: linear-gradient(0deg, #e30, #f80);
}

.button:hover {
	box-shadow: 0 0.0625em 0.1875em rgba(0, 0, 0, 0.5);
}

.button:active {
	box-shadow: inset 0 0.0625em 0.125em rgba(0, 0, 0, 0.3);
}

#top {
	margin: 0 auto;
	background: transparent;
	overflow-y: scroll;
}

#skip-link {
	position: absolute;
	top: -9em;
}

#skip-link:focus {
	top: 0;
}

#site-header {
	padding: 1em;
	color: #ccc;
	overflow: hidden;
}

#site-title {
	position: relative;
	margin: 0;
	padding: 1em;
	text-align: left;
}

#site-name {
	display: inline-block;
	padding: 0.25em;
	padding-bottom: 0;
	border: none;
	color: #ccc;
	font-size: 1.75em;
	line-height: 1.25;
	text-decoration: none;
}

#site-name:hover {
	color: #fff;
}

#version {
	padding: 0.25em 0.5em;
	border-radius: 0.125em;
	background: #222;
	font-size: 0.75em;
	vertical-align: text-top;
}

#site-attribution {
	display: block;
	margin-left: 4em;
	color: #ccc;
}

#logotype {
	border: none;
	color: #ccc;
	font-weight: 700;
}

#logotype:hover {
	color: #fff;
}

#logotype:hover #logo-path {
	fill: #fff;
}

#logo {
	width: 1.25em;
	height: 1.25em;
	vertical-align: top;
}

#logo-path {
	fill: #ccc;
}

.lastname {
	font-weight: 400;
}

#completeness-meter {
	position: relative;
	margin: 2em 2em 1em;
	padding: 0 0 1em;
	font-size: 0.625em;
}

#completeness-meter:after,
#completeness-meter:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0.5em;
	border-radius: 0.25em;
}

#completeness-meter:before {
	width: 100%;
	background: #fff;
}

#completeness-meter:after {
	background: repeat-x #09c;
	background-image: linear-gradient(315deg, transparent, transparent 33%, rgba(0,0,0,0.12) 33%, rgba(0,0,0,0.12) 66%, transparent 66%, transparent);
	background-size: 1.5em 0.5em;
	animation-name: progress;
	animation-duration: 0.1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#completeness-meter.start:after {
	width: 100%;
	background-color: #666;
	animation-duration: 1s;
}

#completeness-meter.level1:after {
	width: 6.25%;
}

#completeness-meter.level2:after {
	width: 12.5%;
}

#completeness-meter.level3:after {
	width: 18.75%;
}

#completeness-meter.level4:after {
	width: 25%;
}

#completeness-meter.level5:after {
	width: 31.25%;
}

#completeness-meter.level6:after {
	width: 37.5%;
}

#completeness-meter.level7:after {
	width: 43.75%;
}

#completeness-meter.level8:after {
	width: 50%;
}

#completeness-meter.level9:after {
	width: 56.25%;
}

#completeness-meter.level10:after {
	width: 62.5%;
}

#completeness-meter.level11:after {
	width: 68.75%;
}

#completeness-meter.level12:after {
	width: 75%;
}

#completeness-meter.level13:after {
	width: 81.25%;
}

#completeness-meter.level14:after {
	width: 87.5%;
}

#completeness-meter.level15:after {
	width: 93.75%;
}

#completeness-meter.completed:after {
	width: 100%;
	background-color: gold;
	animation-duration: 2s;
}

#buttons {
	float: right;
}

#buttons a {
	margin: 0 0 0 1em;
	border-bottom: 0.0625em dotted #ccc;
	color: #ccc;
	text-decoration: none;
}

#buttons a:hover {
	color: #fff;
	border-color: #fff;
}

#levels-title,
#page-title {
	margin: 0;
	padding: 0.5em 0.75em;
	border-bottom: 0.0625em solid #111;
	background: linear-gradient(0deg, #333, #444);
	color: #fff;
	font-weight: 400;
	font-size: 1.25em;
	line-height: 1.25;
	letter-spacing: -0.04em;
	text-transform: capitalize;
}

#levels-list-section {
	display: none;
}

#challenge-button {
	display: block;
	margin: 1em auto;
	font-size: 1.25em;
}

#main {
	display: block;
	margin: 1em;
	outline: none;
	box-shadow: 0 0 0.3125em rgba(0,0,0,.9);
	border-radius: 0.1875em;
	background: #444;
	overflow: hidden;
}

#start-button {
	display: block;
	margin: 0 auto;
	padding: 1em 2em;
	font-size: 1.5em;
}

#level-number {
	color: gold;
	font-style: normal;
}

.content-body {
	min-height: 6.25em;
	padding: 1.5em;
	background: #e6e6e6;
	color: #444;
	overflow: hidden;
}

#focus-form,
#password-form {
	padding: 1.5em;
	border: 0.0625em solid #ccc;
	border-radius: 0.1875em;
	background: #f5f5f5;
}

#message {
	position: relative;
	margin: 0;
	padding: 2em;
	color: #999;
	font-style: italic;
	text-align: center;
}

#message:after,
#message:before {
	position: absolute;
	width: 1em;
	font-size: 2em;
	opacity: 0.3;
}

#message:before {
	content: '\201C';
	top: 0;
	left: 0;
}

#message:after {
	content: '\201E';
	right: 0;
	bottom: 0;
}

#error-message,
#lesson {
	margin: 2em 0 0;
	padding: 1em;
	background: #fcc;
	font-size: 0.875em;
}

#error-message:before {
	content: 'Error: ';
	display: block;
	font-weight: 700;
}

#lesson {
	background: #fd7;
}

#lesson:before {
	content: 'Lesson learned: ';
	display: block;
	font-weight: 700;
}

#ranking {
	width: 100%;
	margin: 2em 0;
	padding: 1.5em;
	border: 0.0625em solid #ccc;
	border-radius: 0.1875em;
	table-layout: fixed;
	background: #f5f5f5;
	font-size: 0.875em;
}

#ranking caption {
	color: #800;
	font-weight: 700;
	font-size: 1.5em;
	text-transform: uppercase;
}

.rank {
	width: 2em;
	padding-right: 0.5em;
	text-align: right;
}

.name {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.time {
	width: 5em;
	text-align: right;
	white-space: nowrap;
}

#record {
	width: 100%;
	margin: 2em 0;
	table-layout: fixed;
	border-collapse: collapse;
}

#record td,
#record th {
	padding: 0.25em;
}

.odd {
	background: #ccc;
}

#record-header th {
	border-bottom: 0.0625em solid #ccc;
}

#record-footer td,#record-footer th {
	border-top: 0.0625em solid #ccc;
}

.level-name {
	width: 80%;
	text-align: left;
}

.level-time {
	text-align: right;
}

.codeblock{
	padding: 0.6em;
	background: #ddd;
	white-space: pre-wrap;
	overflow: hidden;
}

.usernames:before {
	content: 'Usernames:';
	float: left;
	font-style: normal;
	font-weight: 700;
}

.passwords:before {
	content: 'Passwords:';
	float: left;
	font-style: normal;
	font-weight: 700;
}

#site-footer {
	padding: 1em 2em;
	color: #ccc;
	font-style: italic;
	font-size: 0.875em;
}

#social-links {
	list-style: none;
	margin: 1em 0 0;
	padding: 0;
}

#social-links li {
	display: inline-block;
}

#social-links a {
	display: block;
	width: 3em;
	height: 3em;
	border: none;
	text-indent: -999em;
	opacity: 0.8;
}

#social-links a:hover {
	opacity: 1;
}

.social-twitter:before,
.twitter-share:before {
	content: '';
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTcgMjE2Ij48cGF0aCBmaWxsPSIjMWRhMWYyIiBkPSJNODUuNjIgMjE1LjU5Yzk0LjM0IDAgMTQ1Ljk0LTc4LjE2IDE0NS45NC0xNDUuOTQgMC0yLjIyIDAtNC40My0uMTUtNi42M0ExMDQuMzYgMTA0LjM2IDAgMCAwIDI1NyAzNi40N2ExMDIuMzggMTAyLjM4IDAgMCAxLTI5LjQ2IDguMDcgNTEuNDcgNTEuNDcgMCAwIDAgMjIuNTUtMjguMzcgMTAyLjc5IDEwMi43OSAwIDAgMS0zMi41NyAxMi40NSA1MS4zNCA1MS4zNCAwIDAgMC04Ny40MSA0Ni43OEExNDUuNjIgMTQ1LjYyIDAgMCAxIDI0LjQgMjEuODFhNTEuMzMgNTEuMzMgMCAwIDAgMTUuODggNjguNDdBNTAuOTEgNTAuOTEgMCAwIDEgMTcgODMuODZjMCAuMjEgMCAuNDMgMCAuNjUgYTUxLjMxIDUxLjMxIDAgMCAwIDQxLjE1IDUwLjI4IDUxLjIxIDUxLjIxIDAgMCAxLTIzLjE2IC44OCA1MS4zNSA1MS4zNSAwIDAgMCA0Ny45MiAzNS42MiAxMDIuOTIgMTAyLjkyIDAgMCAxLTYzLjcgMjJBMTA0LjQxIDEwNC40MSAwIDAgMSA3IDE5Mi41NWExNDUuMjEgMTQ1LjIxIDAgMCAwIDc4LjYyIDIzIi8+PC9zdmc+) center no-repeat;
}

.facebook-share:before,
.social-facebook:before {
	content: '';
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTggMjU4Ij48cmVjdCBmaWxsPSIjM2M1YTk5IiB3aWR0aD0iMjU4IiBoZWlnaHQ9IjI1OCIgcnk9IjE1Ii8+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE3OCAyNTh2LTk5LjgwM2gzMy40OTlsNS4wMTYtMzguODk1aC0zOC41MTVWOTQuNzc3YzAtMTEuMjYxIDMuMTI3LTE4LjkzNSAxOS4yNzUtMTguOTM1bDIwLjU5Ni0uMDA5VjQxLjA0NWMtMy41NjItMC40NzQtMTUuNzg4LTEuNTMzLTMwLjAxMi0xLjUzM2MtMjkuNjk1IDAtNTAuMDI1IDE4LjEyNi01MC4wMjUgNTEuNDEzdjI4LjY4NGgtMzMuNTg1djM4Ljg5NWgzMy41ODV2OTkuODAzSDE3OFoiLz48L3N2Zz4=) center no-repeat;
}

.social-google-plus:before {
	content: '';
	background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMDMgMTI2Ij48ZyBzdHJva2U9IiNkYjQ1MzkiIGZpbGw9Im5vbmUiPjxwYXRoIHN0cm9rZS13aWR0aD0iMjUiIGQ9Ik05NyAyNmE1MCA1MCAwIDEgMCAxNiAzMG0xMiA2aC01OCIvPjxwYXRoIHN0cm9rZS13aWR0aD0iMTUiIGQ9Ik0xNDIgNjBoNjBtLTMwIC0zMHY2MCIvPjwvZz48L3N2Zz4=) center no-repeat;
}

.facebook-share:before,
.twitter-share:before {
	display: inline-block;
	width: 1em;
	height: 1em;
	margin: 0 0.5em;
	vertical-align: top;
}

.social-facebook:before,
.social-google-plus:before,
.social-twitter:before {
	float: left;
	width: 2em;
	height: 2em;
	margin: 0.5em;
}

#social-links li:first-child a {
	width: 2.5em;
}

#social-links li:first-child a:before {
	margin-left: 0;
}

@keyframes progress {
	from {
		background-position: 0 0;
	}

	to {
		background-position: 1.5em 0;
	}
}

@media (min-width: 48em) {
	#top {
		max-width: 46.875em;
	}
}

@media (min-width: 62em) {
	#top {
		max-width: 60.625em;
	}

	#sidebar {
		position: relative;
		float: right;
		max-width: 18em;
		width: 100%;
		margin: 1em;
		border-radius: 0.1875em 0.1875em 0 0;
		overflow: hidden;
	}

	#completeness-meter {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 0;
		margin: 0;
		font-size: 0.875em;
		text-indent: -999em;
	}

	#completeness-meter:before,
	#completeness-meter:after {
		top: 0;
		bottom: auto;
		border-radius: 0;
	}

	#completeness-meter:before {
		opacity: 0.1;
	}

	#break-button {
		display: none;
	}

	#reset-button:link {
		position: absolute;
		top: 1em;
		right: 1em;
		display: block;
		border: none;
		text-indent: 0;
	}

	#levels-list-section {
		display: block;
		background: #111;
		color: #fff;
	}

	#levels-list {
		list-style: none;
		margin: 0;
		padding: 0;
		font-size: 0.875em;
		overflow: hidden;
	}

	.levels-list-item {
		float: left;
		width: 50%;
		padding: 0.25em;
		box-sizing: border-box;
	}

	.levels-list-link {
		display: block;
		padding: 1em;
		border-left: 0.1875em solid;
		background: #222;
		color: #fff;
		text-align: right;
		overflow: hidden;
	}

	.levels-list-link:hover {
		background: #333;
	}

	.levels-list-link.unlocked,
	.levels-list-link.unlocked:hover,
	.levels-list-link.unlocked:active {
		border-bottom: none;
		border-color: green;
		color: #fff;
	}

	.levels-list-link.current,
	.levels-list-link.current:hover,
	.levels-list-link.current:active {
		border-bottom: none;
		border-color: #e70;
		color: #fff;
	}

	.levels-list-link.locked {
		border-color: red;
		cursor: not-allowed;
	}

	.levels-list-name {
		float: left;
	}

	.levels-list-time {
		width: 25%;
		padding: 1em;
		text-align: right;
	}

	#ranking {
		float: right;
		width: 45%;
		margin: 2em;
	}

	#site-footer {
		padding: 2em;
	}

	#social-links {
		float: right;
	}

	#social-links a {
		width: 3.5em;
		height: 1.5em;
	}

	#social-links a:before {
		width: 1.5em;
		height: 1.5em;
		margin: 0 1em;
	}
}

@media (min-width: 75em) {
	#top {
		max-width: 73.125em;
	}
}

@page {
	margin: 2cm;
}

@media print {
	a:link:after {
		font-weight: 400;
		content: " <" attr(href) "> ";
		word-break: break-all;
	}

	a[href^="/"]:after {
		content: " <http://chaurocks.com" attr(href) "> ";
	}

	a[href^="#"]:after {
		content: "";
	}

	h2, h3, h4, h5, h6 {
		page-break-after: avoid;
	}

	#site-footer, #site-header {
		display:none;
	}

	#top {
		max-width: 100%;
		margin: 0;
		padding: 0;
	}

	#site-name,
	#site-attribution,
	#logotype {
		color: #000;
	}

	#logo-path {
		fill: #000;
	}
}