\tmp-newline\tmp-newline<!-- Start looking here -->\tmp-newline
<form id=password-form action={current_uri} method=post autocomplete=new-password>
<div id=message>{message}</div>{error}
<p><label>Username: <input type=text class=textfield id=username name=username autocorrect=off autocapitalize=none value="{username_value}"></label>
<p><label>Password: <input type=password class=textfield id=password name=password value="{password_value}"></label>
<p><input type=submit class=button value="Log In">
<p id=lesson>{lesson}
</form>{footer}
\tmp-newline<!-- Stop here -->\tmp-newline\tmp-newline