<form id=focus-form action={current_uri} method=post>
<h2 class=hidden>Are you ready to play?</h2>
<p id=message>HackGame3 is a timed hacker game. When you are ready, just click "{start_button_text}".
<p><input type=submit name=start id=start-button class=button value={start_button_text}>
</form>
<h2>What is this?</h2>
<p>HackGame3 is a free, safe, legal, browser-based and timed game for hackers to test and expand their exploration skills.
<p>In this game, you need to bypass several login pages, intended to test your knowledge about direct page request, parameter modification, default credentials, javascript, reverse engineering, error message/status leaks and timing attack.
<h2>About privacy</h2>
<p>To play this game, you need to enable your cookie and javascript. The cookie is only for tracking your progress within the game.
<p>I am not going to store your <abbr title="Internet Protocol">IP</abbr> address or your web browser data, neither your personal information.