<meta property=og:locale content=en_US>
<meta property=og:url content={full_uri}>
<meta property=og:title content="{name}'s record at HackGame3">
<meta property=og:description content="{name} at {finish_date} finished all levels of HackGame3 in {total_time}. See the detail.">
<meta property=og:image content={full_base_uri}assets/hackgame.jpg>
<meta property=og:image:type content=image/jpeg>
<meta property=og:image:width content=1024>
<meta property=og:image:height content=768>
<meta property=og:site_name content="HackGame3">
<meta property=og:type content=website>
<meta property=og:updated_time content={server_time_utc}>
<meta property=fb:app_id content=484637421658175>
<meta property=fb:profile_id content=100004288420573>
<meta name=twitter:card content=summary_large_image>
<meta name=twitter:site content=@fongwan>
<meta name=twitter:creator content=@fongwan>
<meta name=description content="{name} at {finish_date} finished all levels of HackGame3 in {total_time}. See the detail.">
<script type=application/ld+json>{"@type":"WebPage","@context":"http://schema.org","copyrightYear":"2016","copyrightHolder":{"@type":"Person","name":"Fong-Wan Chau","givenName":"Fong-Wan","familyName":"Chau","image":{"@type":"ImageObject","url":"http://www.gravatar.com/avatar/097a391a2be3e662e877d3b6ae120323.png","height":80,"width":80}}}</script>